**/bin/
**/obj/
artifacts/
dist/
CryptoSigTool.Installer/Bundle/*
!CryptoSigTool.Installer/Bundle/.gitkeep
.vs/
*.user
*.suo
*.pdb
*.zip
*.exe
*.sig
*.p7s
tools/Inno Setup 6/
tools/innosetup-*.exe
tools/inno-install.log
